@model DotNetCoreTestWebProject.EditModels.ArtistEditModel

<br /> <br />
<form asp-controller="Chinook" 
      asp-action="AddArtist">

      <label asp-for="Name">Name</label>
    <input asp-for="Name" />

    <input type="submit" value="Save" />    

</form>